{
  "plugins": [
    "stylelint-scss"
  ],
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["function", "if", "else", "each", "include", "mixin", "extend", "debug", "return", "error"]
    }],
    "unit-no-unknown": [true, { "ignoreUnits": ["/lh/", "string"] }],
  }
}
