@mixin gd-base($settings: ()) {
  :root {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  a {
    color: currentColor;
    display: inline-block;
    text-decoration-skip-ink: auto;
  }

  img,
  svg {
    display: inline-block;
    max-width: 100%;
    height: auto;

    // @see https://stackoverflow.com/a/5804278/4628548
    vertical-align: if(map-has-key($settings, 'image-align'), map-get($settings, 'image-align'), top);
  }
}
