@mixin gd-button-plain {
  background: transparent;
  border-radius: 0;
  border: 0;
  color: currentColor;
  display: inline-flex;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: auto;
}
